<launch>
	<include file="$(find youbot_common)/launch/youbot_wrapper.launch" />
	<include file="$(find youbot_common)/launch/youbot_joint_state_publisher.launch" />
	<include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
	<include file="$(find yocs_velocity_smoother)/launch/standalone.launch" />
	<node name="youbot_adapter" pkg="vicci_youbot" type="youbot_stopper.py" />
</launch>
